@model SportStore.Models.AdminUser

@{
    ViewBag.Title = "Login";
    Layout = null;
}
<style>
    .field-validation-error {
        color: red;
    }

    #middle {
        padding-bottom: 100px;
        border: solid 1px blue;
        background-color: deepskyblue;
        background-position: center;
        background-attachment: fixed;
        margin: 0 30% 0 30%;
    }

    .loginfr {
        padding: 10px;
    }

    .labellg {
        margin-bottom: 2%;
    }

    .wrapbtn {
        text-align: center;
    }

    .btnregis {
        padding: 5px 50px 5px 50px;
        margin: 10px 0 0 0;
    }

    .btnlogin {
        margin: 10px 0 10px 0;
    }
</style>
<a href="~/CustomerProducts/Index"><div style="justify-content:center;display:flex;"><img class="img-fluid sp-custom-118-1628235565" src="~/Content/Images/logobrand.png" width="150" alt="FoxPRO" style="margin-bottom: 5px !important;"></div></a>
<div id="middle" style="background-color:ghostwhite">
    <h2 style="text-align:center">ĐĂNG NHẬP</h2>
    @using (Html.BeginForm("Loginadmin", "LoginUser"))
    {
        @Html.AntiForgeryToken()
        <div class="loginfr">
            <h3 class="labellg">Tên admin</h3>
            <div>@Html.TextBoxFor(model => model.NameUser, new { style = "field-validation-error" })</div>
            <div>@Html.ValidationMessageFor(model => model.NameUser)</div>

            <h3 class="labellg">@Html.LabelFor(model => model.PasswordUser)</h3>
            <div>@Html.EditorFor(model => model.PasswordUser)</div>
            <div>@Html.ValidationMessageFor(model => model.PasswordUser)</div>
            @if (ViewBag.ErrorInfo != null)
            {
                <p style="color:red;font-weight:bold;">@ViewBag.ErrorInfo</p>
            }

            <div><input class="btnlogin" type="submit" value="Login"></div>
        </div>
    }
</div>
