@model SportStore.Models.Customer

@{
    ViewBag.Title = "RegisterUser";
    Layout = null;
}
<style>
    body {
        background: #DDD8D3;
    }

    .regislabel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items:center;
    }

    .wraplable {
        float: left;
        width: 45%;
        min-height: 750px;
    }

    .field-validation-error {
        color: red;
    }
    .contentmd {
        margin-left: 5px;
    }
    #middles {
        margin-block: auto;
        margin-inline: auto;
        float: right;
        width: 50%;
        background:white;
        min-height: 500px;
        border: 2px solid black;
        border-radius: 30px;
        padding: 10px;
    }
</style>
@using (Html.BeginForm("RegisterUser", "LoginUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="wraplable">
    <a class="navbar-brand ps-3" href="~/CustomerProducts/Index">
        <img class="img-fluid sp-custom-118-1628235565" src="~/Content/Images/logobrand.png" width="150" alt="FoxPRO" style="margin-bottom: 5px !important;">
    </a>
    <div class="regislabel">
        <h1>
            Xin chào <br /> Quý khách.
        </h1>
        <p>Tạo tài khoản FoxPRO để đăng nhập vào tất cả trang web của FoxPRO và đối tác nhanh chóng!</p>
    </div>
</div>
    <div id="middles">
        <div class="contentmd">
            <div> <h1 style="text-align:center">ĐĂNG KÝ</h1></div>
            @Html.AntiForgeryToken()

            <p>@Html.LabelFor(model => model.NameCus)</p>
            <p>@Html.TextBoxFor(model => model.NameCus,new { @style = "width: 100%; padding:10px;", placeholder = "Nhập họ và tên" })</p>
            <p>@Html.ValidationMessageFor(model => model.NameCus)</p>

            <p>@Html.LabelFor(model => model.PassCus)</p>
            <p>@Html.PasswordFor(model => model.PassCus, new { @style = "width: 100%; padding:10px;", placeholder = "Nhập mật khẩu" })</p>
            <p>@Html.ValidationMessageFor(model => model.PassCus)</p>

            <p>@Html.LabelFor(model => model.ConfirmPass)</p>
            <p>@Html.PasswordFor(model => model.ConfirmPass, new { @style = "width: 100%; padding:10px;"})</p>
            <p>@Html.ValidationMessageFor(model => model.ConfirmPass)</p>
            @if (ViewBag.ErrorRegister != null)
            {
                <p style="color:red;font-weight:bold;">@ViewBag.ErrorRegister</p>
            }


            <p>@Html.LabelFor(model => model.PhoneCus)</p>
            <p>@Html.TextBoxFor(model => model.PhoneCus, new { @style = "width: 100%; padding:10px;", placeholder = "Nhập họ và tên" })</p>
            <p>@Html.ValidationMessageFor(model => model.PhoneCus)</p>

            <p>@Html.LabelFor(model => model.EmailCus)</p>
            <p>@Html.TextBoxFor(model => model.EmailCus,new { @style = "width: 100%; padding:10px;", placeholder = "Nhập họ và tên" })</p>
            <p>@Html.ValidationMessageFor(model => model.EmailCus)</p>

            <input type="submit" value="TẠO TÀI KHOẢN" style="padding: 10px; width: 100%; background: #2E2E2E; color: white; border-radius: 30px; " />
        </div>
    </div>
}


